USE [master]
GO
/****** Object:  Database [PlanningDb]    Script Date: 2/4/2020 3:15:06 PM ******/
CREATE DATABASE [PlanningDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanningDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PlanningDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlanningDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PlanningDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanningDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanningDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/4/2020 3:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2/4/2020 3:15:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200124065754_initial', N'2.1.4-rtm-31024')
GO
SET IDENTITY_INSERT [dbo].[Items] ON 
GO
INSERT [dbo].[Items] ([Id], [Name], [Duration], [CreationDate]) VALUES (7, N'Learn Kotlin', 7, CAST(N'2020-01-25T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Items] ([Id], [Name], [Duration], [CreationDate]) VALUES (8, N'Learn Css', 4, CAST(N'2020-01-30T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Items] ([Id], [Name], [Duration], [CreationDate]) VALUES (9, N'Learn Node.js', 10, CAST(N'2020-01-16T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
USE [master]
GO
